.center{
    text-align: center;
}
.imgCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body{
    font-family: "Montserrat", "Georgia",;
    background-color: #e5eaf5;
    background: linear-gradient(to top right, #04151fff, #183a37ff, #aaabbcff, #c4f1beff, #e1d89fff);
    color: black;
}
img {
    max-width: 15%;
    max-height: 5%;
}

.border{
    border-style: ridge;
}
.text{
    font-size: large;
}
nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block; /* Display list items horizontally */
}
nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #555;
}