@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Work Sans", sans-serif;
    background-color: #e5eaf5;
    color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    background-color: #333;
    text-align: center;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none; /* Remove bullet points in nav */
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em; /* Adjust font size as needed */
}

nav ul li a:hover {
    background-color: #555;
}

.content {
    flex: 1;
    padding: 20px;
}

.homeContent {
    display: flex; /* Create a flex container */
    flex-direction: row; /* Arrange children in a row */
    justify-content: space-between; /* Space between children */
    align-items: flex-start; /* Align items at the start */
    padding: 20px;
}

.center {
    text-align: center;
}
.homeText {
    width: 60%; /* Set width for the text container */
    padding-right: 20px; /* Add some space between text and image */
    font-size: large;
    display: flex; /* Make text container a flexbox */
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Center items vertically */
}

.homeImage {
    width: 35%; /* Set width for the image container */
    text-align: right; /* Align image to the right */
}
.imgCenter {
    width: 100%; /* Make image take full width of its container */
    height: 90%;
    border-radius: 15px;
}

.text {
    font-size: large;
}

/* Add these rules for properly formatted bullet points */
.content ul {
    padding-left: 40px;
}

.content li {
    list-style-type: disc;
}

p {
    margin-bottom: 1em; /* Add spacing between paragraphs */
}
